@import "tailwindcss";

@theme {
  --color-frutiger: rgba(255, 255, 255, 0.15);
  --shadow-frutiger: 0 10px 40px rgba(0, 0, 0, 0.05),
    0 2px 10px rgba(0, 0, 0, 0.03);
  --border-frutiger: 1px solid rgba(255, 255, 255, 0.3);
  --radius-frutiger: 1rem;
  --spacing-frutiger: 1rem 1.5rem;
  --blur-frutiger: blur(10px);
}

body {
  height: 100svh;
  background: linear-gradient(135deg, #9be1e7, #a1e7a6);
}

#root {
  display: grid;
  grid-template-columns: 1fr 1200px 1fr;

  height: 100%;
}
